/* font-family: 'Anton', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Damion', cursive; */

/* Base Styling */

body {
    font-family: 'Signika', sans-serif;
    font-weight: 300;
}


#map {
    height: 100%;
}
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}
.l-foot {
    float: left;
}

.r-foot{
    float: right;
}

#signin-form {
  margin-left:40px;
}


